html{font-size:62.5%;}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --heading:'Trebuchet MS', sans-serif;
  --mainText:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --normalText:'Lucida Grande', 'Lucida Sans Unicode', Geneva;
  --activeSecBtn:#28f;
  --bg:#5a5a5a4f;  
}
body{
  background:#080808;
  max-width:100%;
  height:100vh;
}
nav{
  display:grid;
  grid-template-columns:6fr 1fr 1fr;
  column-gap:1rem;
  min-height:7.639%;
  align-items:center;
  padding:1rem;
  padding-right:.7rem;
}
nav span{
  font-size:2.7rem;
  font-family:var(--heading);
  font-weight:700;
  color:#fff;
  flex:1;
}
.search,.settings{
  display:flex;
  justify-content:center; 
}
.search-cta{
  display:none;
  height:7%;
  margin:0 0;
  align-content:center;
  text-align:center;
  font-size:1.3rem;
  font-family:var(--normalText);
  color:#fff;
  background:#f33;
  z-index:1;
}
.advanced-search{
  position:absolute;
  top:17%;
  display:none;
  flex-direction:column;
  justify-self:center;
  height:50vh;
  width:83%;
  border-radius:1rem;
  background:#030303;
  z-index:5;
}
.advanced-search::before{
  content:"";
  position:absolute;
  top:0;left:0;
  right:0;bottom:0;
  border-radius:inherit;
  box-shadow:0px 0px 10px 3px #ccc3;
  z-index:-1;
}
.advanced-search .img{
  display:none;
  align-self:center;
  width:80%;
  height:60%;
  border-radius:1rem;
}
.input-loading1{
  margin-top:2rem;
  width:40%;
}
.input-loading2{
  width:60%;
}
.input-loading3{
  width:65%;
  margin-bottom:2rem;
}
.fake-shot{
  display:none;
  align-self:start;
  height:2.3rem;
  margin-inline-start:10%;
  margin-bottom:1.2rem;
  background: linear-gradient(110deg,#333 8%,#555 18%,#333 33%);
  border-radius:4px;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer{
  from{
    background-position:-200% 0;
  }to{
    background-position:200% 0;
  }
}
.adv-search-input{
  height:5rem;
  width:80%;
  margin:10% 0 17% 10%;
  padding:.7rem;
  padding-left:1.3rem;
  color:#fff;
  font-size:1.9rem;
  outline:none;
  border:none;
  border-radius:1.5rem;
  border:1px solid #555;
  background:#fff1;
}
.adv-search-input:focus{
  border:none;
  outline:1px solid #1af7;
}
button{
  display:none;
  width:50%;
  align-self:center;
  margin-bottom:5rem;
  padding:1rem 1.3rem;
  font-size:1.7rem;
  font-weight:700;
  font-family:var(--mainText);
  border:none;
  border-radius:1rem;
  color:#ccc;
  background:linear-gradient(45deg,#3d4ff4aa,#28fc);
}
.advanced-search span{
  margin-bottom:1.5rem;
  text-align:center;
  justify-items:right;
  font-family:var(--heading);
  font-size:1rem;
  color:#fff;
}

.settings-container{
  display:none;
  flex-direction:column;
  align-content:center;
  width:100%;
  padding:0 1rem 1.5rem;
  color:#fff;
  z-index:7;
}
.serrings{
  display:flex;
  animation:settingActive .3s forwards ease-in-out;
}
@keyframes settingActive{
  from{
    transform:translateX(100%);
    opacity:0;
  }to{
    display:flex;
    transform:translateX(0);
    opacity:1;
  }
}
.setting-back-header{
  position:sticky;
  top:0;
  padding:.7rem 0;
  background:#080808;
}
.setting-back{
  display:flex;
  padding:1rem;
  padding-left:.7rem;
  aspect-ratio:1;
  width:min-content;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background:#7773;
}
.settings-span{
  margin:1.7rem 1.3rem 2.7rem;
  font-size:4rem;
  font-weight:900;
  font-family:var(--heading);
}
.settings-div,.others{
  margin:0 1.15rem;
}
.settings-div{
  display:grid;
  grid-template-columns:repeat(2 ,minmax(10rem, 1fr));
  gap:5%;
  margin-bottom:5rem;
}
.themecontainer,.backupcontainer,.timercontainer{
  margin-bottom:5%;
  padding:1.3rem;
  border-radius:2rem;
  background:#7773;
}
.setting-overview{
  margin-bottom:.5rem;
  font-size:1.7rem;
  font-family:var(--mainText);
  font-weight:600;
  color:#fff;
}
.setting-subtext{
  font-family:var(--normalText);
  font-size:1rem;
  color:#ccc;
}
.others{
  border-radius:2rem;
  background:#7773;
}
.others svg{
  margin-right:7%;
}
.others span{
  font-family:var(--normalText);
  font-size:1.5rem;
  font-weight:500;
  color:#fff;
}
.feedback-div,.rate-div,.privacy_policy-div,.terms-div,.about-div{
  display:flex;
  padding:2rem 3rem;
  align-items:center;
  border-bottom:.1px solid #ccc3;
}
.about-div{
  border-bottom:inherit;
}

section{
  position:sticky;
  top:0;
  display:flex;
  align-items:center;
  justify-content:space-around;
  margin-top:.3rem;
  padding:1.3rem .7rem;
  overflow-x:auto;
  scroll-snap-type:x;
  scroll-behavior:smooth;
  scrollbar-width:none;
  background:inherit;
}
section div:nth-child(1){
  margin-left:1rem;
}
section div:nth-child(1),section div:nth-child(2),section div:nth-child(4),section div:nth-child(5),section div:nth-child(6){
  background:#7773;
}
.explore,.mix,.songs,.liked,.playlist,.folder{
  margin-right:1rem;
  padding:.9rem 1.3rem;
  border-radius:2rem;
  scroll-snap-align:end;
}
.explore:hover,.mix:hover,.liked:hover,.playlist:hover,
.folder:hover{
  background:linear-gradient(45deg,#28fc,#16b);
}
.explore,.liked{
  display:flex;
  align-items:center;
}
.index-globe-svg,.index-liked-svg{
  margin-right:5%;
}
.mix{
  white-space:nowrap;
}
.songs{
  position:relative; 
  display:block; 
}
.songs span{
  color:#fff;
}
.song-bottom-design{
  position:absolute;
  left:0;
  bottom:3%;
  background:#28f;
  height:3px;
}
.tabActive{
  animation: songsTab .3s forwards ease;
}
@keyframes songsTab{
  from{
    width:0%;
  }to{
    width:100%;
  }
}

section span{
  font-size:1.5rem;
  font-family:var(--normalText);
  color:#ccc;
}
.main{
  padding:0 2rem;
}
.index-overview{
  display:grid;
  grid-template-columns:.1fr 1fr;
  gap:5%;
}
.index-overview:first-child{
  margin-top:1.5rem;
}
.index-thumbnail{
  display:flex;
  align-items:center;
  user-select:none;
}
.main img{
  aspect-ratio:1;
  width:6rem;
  height:6rem;
  object-fit:contain;
  border-radius:1.3rem;
}
.index-details{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  align-content:center;
  margin:2rem 0;
  overflow:hidden;
  color:#fff;
}
.index-song-title{
  font-size:2rem;
  font-family:var(--mainText);
  font-weight:bold;
}
.song-currently-on{
  color:#3af;
}

.index-song-artiste{
  font-size:1.5rem;
  font-family:var(--normalText);
  color:#777;
}
.index-song-title,.index-song-artiste{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.container{
  display:none;
  flex-direction:column;
  padding:0 4rem;
  width:100%;
  height:100vh;
  overflow:hidden;
  align-items:center;
  justify-content:center;
  background:linear-gradient(45deg,#01015f25,#04344b70);
  z-index:5;
}
.nowplaying-thumbnail{
  padding-top:10%;
  width:100%;
}
.nowplaying-thumbnail img{
  width:100%;
  border-radius:3rem;
  object-fit:top;
}
.nowplaying-info{
  width:100%;
}
.details{
  position:relative;
  display:flex;
  flex-direction:column;
  margin-bottom:27%;
}
.song-title{
  display:block;
  width:80%;
  margin:1rem 0 .5rem 0;
  font-size:2.5rem;
  font-family:var(--mainText);
  font-weight:bold;
}
.artiste-name{
  width:70%;
  font-size:1.7rem;
  font-family:var(--normalText);
  color:#888;
}
.song-title,.artiste-name{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.add-to-liked{
  position:absolute;
  bottom:0;
  right:5%;
}
.added-favourites{
  animation: fave .3s forwards ease;
}
@keyframes fave{
  50%{
    fill:#f114;
    stroke:#f114;
    scale:1.5;
  }100%{
    fill:#f66c;
    stroke:#f66c;
    scale:1;
  }
}

.seeker-div{
  position:relative;
  margin-bottom:11%;
}
.timeline{
  appearance:none;
  width:100%; 
  height:.5rem;
  margin-bottom:1rem;
  overflow:hidden;
  outline:none;
  border-radius:.7rem;
  cursor:pointer;
  background:#555a;
}
.timeline::-webkit-slider-thumb{
  appearance:none;
  width:1%;
  border-radius:50%;
  box-shadow:-400px 0 0 400px #fdb;
}
.song-duration{
  position:absolute;
  right:0;
}
.current-time,.song-duration{
  font-size:1.3rem;
  font-family:var(--normalText);
  color:#888;
}
.player{
  display:flex;
  align-items:center;
  justify-content:space-around;
  margin-bottom:15%;
}
.song-title,.player svg path{
  fill:#fdab;
  stroke:#fdab;
  color:#feb;
}
.container-options{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  padding:.9rem 2.3rem .9rem 1.7rem;
  border:none;
  border-radius:2rem;
  background:#77777718;
}
.container-options span{
  font-size:1.7rem;
  font-family:var(--normalText);
  color:#888;
}
footer{
  display:none;
  position:sticky;
  bottom:0;
  padding:1rem 1.5rem;
  border:none;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  background:#001320;
  z-index:10;
}
.active-music{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
}
.active-thumbnail{
  display:flex;
  align-items:center;
  user-select:none;
  margin-right:3%;
}
.active-thumbnail-img{
  aspect-ratio:1;
  width:6rem;
  height:6rem;
  border-radius:1.3rem;
}
.active-song-details{
  display:flex;
  flex-direction:column;
  overflow:hidden;
  flex:1;
}
.active-song-title{
  display:block;
  width:90%;
  font-size:1.79rem;
  font-family:var(--mainText);
  font-weight:bold;
  color:#eef;
}
.active-artiste{
  width:70%;
  font-size:1.39rem;
  font-family:var(--normalText);
  color:#777;
}
.active-song-title,.active-artiste{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.active-player{
  display:flex;
  flex-wrap:nowrap;
  width:30%;
  align-items:inherit;
}
.active-play-svg,.active-pause-svg{
  flex:1;
  margin-right:10%;
}
.active-player svg,.active-player svg path{
  fill:#ec8e;
  stroke:#ec8c;
}



/*Animations*/
.active{
  animation:rising .5s forwards ease;
}
@keyframes rising{
  from{
    transform:translateY(100%);
  }to{
    transform:translateY(0);
  }
}
.inactive{
  animation:fading .3s forwards ease;
}
@keyframes fading{
  from{
    opacity:1;
  }to{
    display:none;
    opacity:0;
  }
}

.minimize{
  animation:shrinking .5s forwards ease;
}
@keyframes shrinking{
  from{
    transform:translateY(0);
  }to{
    transform:translateY(100%);
  }
}
.now-active{
  animation:clearingUp .3s forwards ease;
}
@keyframes clearingUp{
  from{
    opacity:0;
  }to{
    display:block;
    opacity:1;
  }
}




/*@media screen and (max-width:425px){}*/
